
.logoImage{
    height: 29px;
    margin-left: 26px;
    margin-right: 4px;
}


.nav{
    background: #21222A;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-section{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
    color: #61DAFB;
}

.extra{
    font-size: 16px;
    color: white;
    margin-right: 27px;
}