.about{
    margin-top: 34px;
}

.interestsDesc{
    height: 61px;
    margin-bottom: 24px;
}


.interestsDesc,.aboutDesc{
    font-size: 10px;
    font-weight: 400px;
    color: #DCDCDC;
    margin-right: 34px;
    line-height: 16px;
    width: 247px;
}

.about,.interests{
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}

.interests,.about,.aboutDesc,.interestsDesc{
    margin-left: 36px;
}

.interests{
    margin-top: 27px;
}