body{
    background-color: #23252C;
    font-family: 'Inter',sans-serif;
}

.container{ 
    height: 781px;
    width: 317px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:#1A1B21;
    ;
}